<div class="registration_form">
<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <div class="password_form">
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <div class="password_form">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <%= f.select :belong, options_for_select_from_enum(User, :belong) %>
    軍
  </div>


  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>